{% extends 'index.html' %}
{% load static %}

{% block inicio %}
{% endblock %}

{% block contenido %}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Descripcion</h2>
      <p>Proyecto Web en Python</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <div class="image">
          <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-left">
        <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
          <h3>Descripcion general</h3>
          <p>
            Este es un catalogo de criticas a orientado a videojuegos, en el cual es posible dejar un comentario a un titulo en particular.
          </p>
          <br>
          <p>
            {{descripcion}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->
{% endblock %}