{% extends 'index.html' %}
{% load static %}

{% block titulo %}
<title>Editar perfil - Catalogo Fox Games</title>
{% endblock %}

{% block inicio %}
{% endblock %}

{% block usuarios %}
          <li class="dropdown"><a href="#"><span>{{usuario}}</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/perfil/">Mi perfil</a></li>
              <li><a href="/perfil/contrasena">Cambiar contraseña</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/cerrar_sesion/">Cerrar Sesion</a></li>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-lg-12 center mtmb-lg">
        <form class="wd-form" action="" enctype="multipart/form-data" method="POST" role="form">
            {% csrf_token %}
            <h2 class="mb-md">Nombre de Usuario</h2>
            {{form1.username}}
            <h2 class="mb-md mt-md">Email</h2>
            {{form1.email}}
            <h2 class="mb-md mt-md">Ciudad</h2>
            {{form2.ciudad}}
            <h2 class="mb-md mt-md">Pais</h2>
            {{form2.pais}}
            <h2 class="mb-md mt-md">Descripcion</h2>
            {{form2.descripcion}}
            <h2 class="mb-md mt-md">Foto de perfil</h2>
            {{form2.imagen}}
            <button class="btn btn-secondary" type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}